{% extends 'pdf/layout.html' %}
{% load static %}

{% block content %}
<div class= 'container py-5 '>
    <div class='row align-items-center justify-content-center py-5 my-5'>
  <div class='col-sm-6'>
      <h1 class='font=weight-bold'>Uploaded Files</h1>
      {% if pdf_context %}
      <ul>
        {% for pdf in pdf_context %}
          <li>
            <a href="{% url 'pdf:detail' pdf.id %}"  > {{ pdf.filename }} </a>
          </li>
        {% endfor %}
      </ul>
      {% else %}
        <p>There are no pdfs yet in the library.</p>
      {% endif %}
  </div>
</div>
</div>
{% endblock %}